<html>
  <head>
    <title>Yet Another npm Search</title>
    <link type="text/css" rel="stylesheet" href="main.css" />
    <script type="text/javascript" src="main.js"></script>
  </head>
  <body>
    <h1><a href="/"><img src="search.svg" />Yet Another npm Search</a></h1>
    <div class="powerd">
      powered by elasticsearch:
      &nbsp;
      &nbsp;
      <a href="about.html">About</a>
      &nbsp;
      <a href="api.html">API</a>
    </div>

    {{^hide_search}}

    <form method="GET" action="/search" class="search">
      <input id="query" name="query" type="search" value="{{query}}" placeholder="search" />
      &nbsp;
      <select name="sort">
        <optgroup label="sort">
          <option value="depended" {{sort_selected_depended}}>depened</option>
          <option value="recent" {{sort_selected_recent}}>recent</option>
          <option value="stared" {{sort_selected_stared}}>stared</option>
          <option value="score" {{sort_selected_score}}>score</option>
        </optgroup>
      </select>
      &nbsp;
      <input type="submit" value="search" />
    {{#total}}
      <div class="total">total: {{total}}</div>
    {{/total}}

    </form>
    {{/hide_search}}

    {{#about}}
      <div class="about">
        {{{html}}}
      </div>
    {{/about}}

    {{#api}}
      <div class="api">
        {{{html}}}
      </div>
    {{/api}}

    {{#results}}
    <div class="pkg">
      <h3>
        {{name}}
        &nbsp;
        <span title="npm_depended: {{depended}} npm_stared: {{stared}}" class="pkg_reactions">{{reactions}}</span>
      </h3>
      <div>
        {{#description}}
          <div class="desc">{{description}}</div>
        {{/description}}

        <div class="meta">
          {{#keywords}}
            <div>
              keywords: {{keywords}}
            </div>
          {{/keywords}}
          depended: {{depended}}
          stared: {{stared}}
          modified: {{#time}}{{modified}}{{/time}}

          <div style="padding: 0.5em 0;">
            <a href="https://npmjs.org/package/{{name}}">https://npmjs.org/package/{{name}}</a>&nbsp;
            {{#github}}<a href="{{url}}">{{url}}</a>{{/github}}
          </div>

          <div>
            {{#maintainers}}
              {{#gravatar}}<img class="gravatar" src="{{gravatar}}" />{{/gravatar}}
              <a href="{{npm}}">{{name}}</a>
            {{/maintainers}}
          </div>
        </div>
      </div>
    </div>
    {{/results}}

    {{#next}}
      <div><a href="{{url}}" rel="next">next</a></div>
    {{/next}}
  </body>
</html>
