body {
    margin: 4em auto;
    width: 70%;
    background-color: rgb(245, 245, 245);
    color: #555;
    text-shadow: white 1px 1px 0px;
    font-family: sans-serif;
    font-size: 90%;
}
h1 {
    font-size: 200%;
    margin: 0;
    padding: 0;
    letter-spacing: -0.05em;
}
h1 a, h1 a:visited {
    color: #555;
}
h1 img {
    height: 1.2em;
    width: 1.2em;
    vertical-align: -0.25em;
    padding: 0 0.2em;
}
h1, h1 img, .powerd, form {
    /* border: 1px solid #c00; */
}
form.search {
    margin: 1.5em 0 2em 0;
    padding: 0 0 0 3em;
}
input[type="search"] {
    width: 17em;
}
.pkg h3 {
    font-size: 130%;
    margin: 0;
    padding: 0;
}
.pkg {
    margin: 2em 0;
}
.meta {

}

a {
    color: rgb(0, 50, 130);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: rgb(90, 140, 180);
}
.powerd {
    font-size: 90%;
    padding: 0 0 0 4em;
}
.gravatar {
    height: 2em;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
    border-radius: 0.4em;
}
.github {
    height: 2em;
}
.total {
    font-size: 90%;
    padding: 0.2em 0.5em;
}
.desc {
    padding: 0 0 0.3em 0;
}
code {
    background-color: #333;
    color: white;
    display: block;
    text-shadow: none;
    padding: 1em;
    font-family: 'menlo', monospace;
    letter-spacing: 1px;
    overflow: auto;
}

.api h3 {
    margin-top: 4em;
    font-size: 140%;
}
.pkg_reactions {
    font-size: 75%;
    border: 1px solid #ccc;
    padding: 0.2em 0.5em 0.1em 0.5em;
    border-radius: 0.4em;
    font-weight: normal;
}
.pkg_reactions img {
    height: 1.2em;
    vertical-align: -0.1em;
}